<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>HomeLux</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.homelux.controllers.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.homelux.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveListingController</display-name>
    <servlet-name>SaveListingController</servlet-name>
    <servlet-class>com.homelux.controllers.SaveListingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveListingController</servlet-name>
    <url-pattern>/SaveListingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerViewListingsController</display-name>
    <servlet-name>BuyerViewListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.BuyerViewListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerViewListingsController</servlet-name>
    <url-pattern>/BuyerViewListingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerViewSavedListingsController</display-name>
    <servlet-name>BuyerViewSavedListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.BuyerViewSavedListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerViewSavedListingsController</servlet-name>
    <url-pattern>/BuyerViewSavedListingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyerSearchController</display-name>
    <servlet-name>BuyerSearchController</servlet-name>
    <servlet-class>com.homelux.controllers.BuyerSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyerSearchController</servlet-name>
    <url-pattern>/BuyerSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellersListingsController</display-name>
    <servlet-name>SellersListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.SellersListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellersListingsController</servlet-name>
    <url-pattern>/SellersListingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SellerSearchController</display-name>
    <servlet-name>SellerSearchController</servlet-name>
    <servlet-class>com.homelux.controllers.SellerSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerSearchController</servlet-name>
    <url-pattern>/SellerSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateListingController</display-name>
    <servlet-name>CreateListingController</servlet-name>
    <servlet-class>com.homelux.controllers.CreateListingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateListingController</servlet-name>
    <url-pattern>/CreateListingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuspendListingController</display-name>
    <servlet-name>SuspendListingController</servlet-name>
    <servlet-class>com.homelux.controllers.SuspendListingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuspendListingController</servlet-name>
    <url-pattern>/SuspendListingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateListingController</display-name>
    <servlet-name>UpdateListingController</servlet-name>
    <servlet-class>com.homelux.controllers.UpdateListingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateListingController</servlet-name>
    <url-pattern>/UpdateListingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentsListingsController</display-name>
    <servlet-name>AgentsListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.AgentsListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentsListingsController</servlet-name>
    <url-pattern>/AgentsListingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AgentSearchController</display-name>
    <servlet-name>AgentSearchController</servlet-name>
    <servlet-class>com.homelux.controllers.AgentSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentSearchController</servlet-name>
    <url-pattern>/AgentSearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewListingsController</display-name>
    <servlet-name>ViewListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.ViewListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewListingsController</servlet-name>
    <url-pattern>/ViewListingsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchController</display-name>
    <servlet-name>SearchController</servlet-name>
    <servlet-class>com.homelux.controllers.SearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchController</servlet-name>
    <url-pattern>/SearchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyListingsController</display-name>
    <servlet-name>MyListingsController</servlet-name>
    <servlet-class>com.homelux.controllers.MyListingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyListingsController</servlet-name>
    <url-pattern>/MyListingsController</url-pattern>
  </servlet-mapping>
</web-app>